.intrestWrapper {
	min-height: 80px;
	padding: 4px;
	border-radius: 5px;
	overflow: hidden;
}

.intrestWrapper span {
	min-height: 42px;
	background-color: white;
	padding: 10px;
	border-radius: 3px;
	margin: 4px;
}

@media only screen and (max-width: 720px) {
	.intrestWrapper span {
		width: 100%;
		text-align: center;
	}
}
