.DpMain {
	overflow: hidden;
	min-height: 45vw;
}

.Dp {
	width: 75vw;
}

@media only screen and (max-width: 900px) {
	.DpMain {
		min-height: 15vh;
	}
	.Dp {
		width: 100%;
	}
	.DpMain p {
		font-size: xx-small;
	}
}
